// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.gc-hero {
  background-color: govuk-colour("dark-grey");
}


.gc-hero--image-description .gc-hero-content {
  background-color: govuk-colour("orange");
}


.gc-section {
  display: block;
  padding: 40px 0px 25px 0px;
  background: #fff;
}

.gc-section:first-of-type {
  display: block;
  padding: 0px 0px 25px 0px;
  background: #fff;
}

.gc-section--alt {
  background: #f0f4f5;
}

.wide{
.govuk-width-container {
  max-width: 90%;
}
}

.gc-app-panel {
  padding: 15px 0px;
  border-bottom: 5px solid #f47738;
  margin-bottom: 20px;
}


.gc-link-tag {
  padding: 6px 8px;
  background: #f3f2f1;
  text-decoration: none;
  font-size: 16px;
  margin: 0 10px 10px 0;
  box-shadow: 0px 4px #1d70b8, 0 0px #0b0c0c;
}

.govuk-width-container{max-width: 1200px;}


.gc-table-thin{
  .govuk-table__header, .govuk-table__cell{padding:8px;}
  .govuk-table__body{font-size: 14px;}
  .govuk-table__head{ font-size: 14px;}
}