{% extends "layout_internal.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="/internal/projects/new" class="gc-pull-right govuk-button" role="button">New project</a>
        <h1 class="govuk-heading-l">Projects</h1>
    </div>
    <div class="govuk-grid-column-full">

    

        <table class="govuk-table gc-table-thin">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Project</th>
                    <th scope="col" class="govuk-table__header">Lead</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Phase</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a
                            href="/internal/projects/project/public-registers">Public registers</a></th>
                    <td class="govuk-table__cell">Scott McMullen</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span
                            class="govuk-tag gc-tag--active">ALPHA</span></td>

                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a
                            href="/internal/projects/project/public-registers">Manage and maintain your personal
                            licence</a></th>
                    <td class="govuk-table__cell">Andy Williams-Jones</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span
                            class="govuk-tag">BETA</span></td>

                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a
                            href="/internal/projects/project/public-registers">Apply for a personal functional
                            licence</a></th>
                    <td class="govuk-table__cell">Andy Williams-Jones</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><span
                            class="govuk-tag">LIVE</span></td>

                </tr>
            </tbody>
        </table>


    </div>
</div>




{% endblock %}