{% extends "layout_internal.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Projects</h1>

        <h2 class="govuk-heading-m">Active projects</h2>
        <div class="govuk-grid-row gc-promo-group">
                <div class="govuk-grid-column-one-third gc-promo-group__item">
                    <div class="gc-promo app-promo--grey">
                        <a class="gc-promo__link-wrapper" href="/internal/projects/project/public-register">
    
                            <div class="gc-promo__content">
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Public registers</h2>
                                <p class="gc-promo__description">Scott McMullen</p>
                            </div>
                        </a>
                    </div>
                </div>
    
                
             
            </div>

            <h2 class="govuk-heading-m">Past projects</h2>
            <div class="govuk-grid-row gc-promo-group">
                    <div class="govuk-grid-column-one-third gc-promo-group__item">
                        <div class="gc-promo app-promo--grey">
                            <a class="gc-promo__link-wrapper" href="/internal/contacts/">
        
                                <div class="gc-promo__content">
                                    <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Public registers</h2>
                                    <p class="gc-promo__description">Scott McMullen</p>
                                </div>
                            </a>
                        </div>
                    </div>
        
                    
                 
                </div>

    </div>    

</div>




{% endblock %}