{% extends "layout_internal_wide.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}
<a href="/internal/service/detail" class="govuk-back-link">Back to service</a>
{% endblock %}

{% block content %}

<section class="gc-section">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                        <div class="gc-app-panel">
                          <div class="gc-pull-right gc-text-right">
                                <a href="" class="govuk-button govuk-button--secondary">Add feedback</a>
                            </div>   
                            <span class="govuk-caption-l">Public Registers</span>
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Insights</h1>
                           
                        </div>
    
                            
    
                    </div>


          
        </div>

        <div class="govuk-grid-row">
       
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Action</th>
                            <th scope="col" class="govuk-table__header">Service</th>
                            <th scope="col" class="govuk-table__header">Version</th>
                            <th scope="col" class="govuk-table__header">Feature</th>
                            <th scope="col" class="govuk-table__header">Feedback</th>
                            <th scope="col" class="govuk-table__header">Themes</th>
                            <th scope="col" class="govuk-table__header">Insight</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body govuk-body-s">
                     
                        <tr class="govuk-table__row">
                                <tr class="govuk-table__row">
 <td class="govuk-table__cell  "><a
                                    href="/internal/service/feedback-detail">View</a></td>
                                    <td class="govuk-table__cell"><a
                                        href="/internal/service/feedback-par">501</a></td>
                                        <td class="govuk-table__cell"><a
                                            href="/internal/service/feedback-version">Alpha Prototype 2</a></td>
                                        <td class="govuk-table__cell"><a
                                            href="/internal/service/feedback-feature">Operator search</a></td>
                            <td class="govuk-table__cell">Participant found the search easy to use but being able to
                                search by a region or town/city would be useful</td>
                                <td class="govuk-table__cell"><a
                                    href="/internal/service/feedback-theme">Search features</a></td>

                            <td class="govuk-table__cell">Yes</td>
                           

                        </tr>

                    </tbody>
                </table>

            </div>


        </div>
    </div>
</section>

{% endblock %}