{% extends "layout_internal.html" %}

{% block pageTitle %}
{{contact.contact.recordset[0].FirstName}} {{contact.contact.recordset[0].LastName}}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/internal/contacts/" class="govuk-back-link">Back to contacts list</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        
        <h1 class="govuk-heading-l">{{contact.contact.recordset[0].FirstName}} {{contact.contact.recordset[0].LastName}}
        </h1>

     

      

    </div>

    <div class="govuk-grid-column-one-third">

        <ul class="govuk-list">
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/detail/{{contact.contact.recordset[0].ParticipantId}}">Summary</a>
            </li>
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/profile/{{contact.contact.recordset[0].ParticipantId}}">Profile</a>
            </li>
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/participation/{{contact.contact.recordset[0].ParticipantId}}">Participation</a>
            </li>

        </ul>

        <h3 class=" govuk-!-margin-bottom-2">ID</h3>
        <div class="govuk-tag">{{contact.contact.recordset[0].ParticipantId}}</div>

        <h3 class=" govuk-!-margin-bottom-2">Email</h3>
        {{contact.contact.recordset[0].Email}}

        <h3 class=" govuk-!-margin-bottom-2">Phone</h3>
        {{contact.contact.recordset[0].Phone}}

       
           

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m">Projects</h2>

        <div class="govuk-grid-row gc-promo-group">
            <div class="govuk-grid-column-full gc-promo-group__item">
                <div class="gc-promo app-promo--grey">
                    <a class="gc-promo__link-wrapper" href="/internal/contacts/">

                        <div class="gc-promo__content gc-promo__content--thin">

                            <div class="govuk-grid-row">

                                <div class="govuk-grid-column-one-half govuk-!-font-weight-bold">Public registers</div>
                                <div class="govuk-grid-column-one-quarter">Consented</div>
                                <div class="govuk-grid-column-one-quarter">Feedback received</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <h2 class="govuk-heading-m">Sessions</h2>

        <div class="govuk-grid-row gc-promo-group">
            <div class="govuk-grid-column-full gc-promo-group__item">
                <div class="gc-promo app-promo--grey">
                    <a class="gc-promo__link-wrapper" href="/internal/contacts/">

                        <div class="gc-promo__content gc-promo__content--thin">

                            <div class="govuk-grid-row">

                                <div class="govuk-grid-column-one-half govuk-!-font-weight-bold">Remote</div>
                                <div class="govuk-grid-column-one-quarter">30 August</div>
                                <div class="govuk-grid-column-one-quarter">14:00 - 14:45</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>




{% endblock %}