{% extends "layout_internal.html" %}

{% block pageTitle %}
{{contact.contact.recordset[0].FirstName}} {{contact.contact.recordset[0].LastName}}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/internal/contacts/" class="govuk-back-link">Back to contacts list</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        
        <h1 class="govuk-heading-l">{{contact.contact.recordset[0].FirstName}} {{contact.contact.recordset[0].LastName}}
        </h1>

     

      

    </div>

    <div class="govuk-grid-column-one-third">

        <ul class="govuk-list">
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/detail/{{contact.contact.recordset[0].ParticipantId}}">Summary</a>
            </li>
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/profile/{{contact.contact.recordset[0].ParticipantId}}">Profile</a>
            </li>
            <li>
                <a class="govuk-link"
                    href="/internal/contacts/participation/{{contact.contact.recordset[0].ParticipantId}}">Participation</a>
            </li>

        </ul>

        <h3 class=" govuk-!-margin-bottom-2">Status</h3>
        <div class="govuk-tag">{{contact.contact.recordset[0].Status}}</div>

        <h3 class=" govuk-!-margin-bottom-2">ID</h3>
        <div class="govuk-tag">{{contact.contact.recordset[0].ParticipantId}}</div>

        <h3 class=" govuk-!-margin-bottom-2">Email</h3>
        {{contact.contact.recordset[0].Email}}

        <h3 class=" govuk-!-margin-bottom-2">Phone</h3>
        {{contact.contact.recordset[0].Phone}}

       
           

    </div>

  
</div>




{% endblock %}