{% extends "layout_internal.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                        <div class="gc-app-panel">
                          <div class="gc-pull-right gc-text-right">
                                <a href="" class="govuk-button govuk-button--secondary">Add participant</a>
                            </div>   
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Participants</h1>
                           
                        </div>
    
                            
    
                    </div>


            <div class="govuk-grid-column-two-thirds">
            
                    <div class="govuk-grid-row gc-promo-group">
                            <div class="govuk-grid-column-one-third gc-promo-group__item">
                                <div class="gc-promo app-promo--grey">
                                    <a class="gc-promo__link-wrapper" href="/internal/contacts/new">
                 
                                        <div class="gc-promo__content">
                                            <h2 class="govuk-heading-l govuk-!-margin-bottom-2">1</h2>
                                            <p class="gc-promo__description">To be processed</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="govuk-grid-column-one-third gc-promo-group__item">
                                    <div class="gc-promo app-promo--grey">
                                        <a class="gc-promo__link-wrapper" href="/internal/contacts/list">
                     
                                            <div class="gc-promo__content">
                                                <h2 class="govuk-heading-l govuk-!-margin-bottom-2">1</h2>
                                                <p class="gc-promo__description">Participants</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                        </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}