{% extends "layout_internal_wide.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}
<a href="/internal/contacts/list" class="govuk-back-link">Back to list of contacts</a>
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <div class="gc-app-panel">
                    <div class="gc-pull-right gc-text-right">
                        <a href="" role="button" class="govuk-button govuk-button--secondary">Edit</a>
                    </div>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">John Gregory</h1>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                 
                    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                           
                            <div class="govuk-accordion__section ">
                              <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                                        Public registers feedback
                                  </span>
                                </h2>
                              </div>
                              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                                    <table class="govuk-table">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">
                                                    <th scope="col" class="govuk-table__header">Action</th>                                   
                                                    <th scope="col" class="govuk-table__header">Version</th>
                                                    <th scope="col" class="govuk-table__header">Feature</th>
                                                    <th scope="col" class="govuk-table__header">Feedback</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body govuk-body-s">
                                                <tr class="govuk-table__row">
                                                        <tr class="govuk-table__row">
                         <td class="govuk-table__cell  "><a
                                                            href="/internal/service/feedback-detail">View</a></td>
                                                               
                                                                <td class="govuk-table__cell"><a
                                                                    href="/internal/service/feedback-version">Alpha Prototype 2</a></td>
                                                                <td class="govuk-table__cell"><a
                                                                    href="/internal/service/feedback-feature">Operator search</a></td>
                                                    <td class="govuk-table__cell">Participant found the search easy to use but being able to
                                                        search by a region or town/city would be useful</td>
                        
                                                  
                                                   
                        
                                                </tr>
                                                <tr class="govuk-table__row">
                         <td class="govuk-table__cell"><a
                                                            href="/internal/service/feedback-detail">View</a></td>
                                                  
                                                    <td class="govuk-table__cell"><a
                                                        href="/internal/service/feedback-version">Alpha Prototype 2</a></td>
                                                    <td class="govuk-table__cell"><a
                                                        href="/internal/service/feedback-feature">Hub</a></td>
                                                    <td class="govuk-table__cell">Participant said they did not understand what the hub was</td>
                                             
                                                   
                                                </tr>
                        
                                            </tbody>
                                        </table>
                              </div>
                            </div>                           
                          </div>


                

            </div>


            <div class="govuk-grid-column-one-third">

                <h2 class="govuk-heading-m">Details</h2>
                <table class="govuk-table">

                    <tbody class="govuk-table__body govuk-body-s">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Participant</td>
                            <td class="govuk-table__cell">501</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Email address</td>
                            <td class="govuk-table__cell">john.gregory@example.com</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Phone number</td>
                            <td class="govuk-table__cell">07987981277</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Disability</td>
                            <td class="govuk-table__cell">None declared</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Date created</td>
                            <td class="govuk-table__cell">11 Aug 2019</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Role</td>
                            <td class="govuk-table__cell">Public</td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Licensed</td>
                            <td class="govuk-table__cell">No</td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</section>

{% endblock %}