{% extends "layout_internal_wide.html" %}

{% block pageTitle %}
Projects
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}

{% endblock %}

{% block beforeContent %}
<a href="/internal/service/detail" class="govuk-back-link">Back to services</a>
{% endblock %}

{% block content %}

<section class="gc-section">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                        <div class="gc-app-panel">
                          <div class="gc-pull-right gc-text-right">
                                <span class="govuk-tag">ALPHA</span>
                                <span class="govuk-tag gc-tag--active">Active</span>
                            </div>   

                            <span class="govuk-caption-l">Public Registers</span>
                            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Themes</h1>
                           
                        </div>
    
                            
    
                    </div>


            <div class="govuk-grid-column-full">
  <p class="govuk-body">Collections are created when feedback is tagged with themes.</p>

                <div class="govuk-grid-row gc-promo-group">
                    <div class="govuk-grid-column-one-quarter gc-promo-group__item">
                        <div class="gc-promo app-promo--grey">
                            <a class="gc-promo__link-wrapper" href="/internal/service/feedback-theme">

                                <div class="gc-promo__content">
                                    <h3 class="govuk-heading-l govuk-!-margin-bottom-2">1</h3>
                                    <p class="gc-promo__description">Search feature</p>
                                </div>
                            </a>
                        </div>
                    </div>

                    
                   

                    
    
                       

                </div>

            </div>

      
        </div>

    </div>

</section>

{% endblock %}