{% extends "layout.html" %}

{% block pageTitle %}
User research programme
{% endblock %}

{% block heroClass %}{% endblock %}

{% block heroContent %}{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Internal service</h1>
        <p class="govuk-body">This is an internal service for the management of user research contacts.</p>

        <a href="/internal" class="govuk-button" role="button">Access</a>
        
      </div>
     
    </div>




{% endblock %}